<section class="phx-hero">
  <h1><%= gettext "Bem vindo ao %{name}!", name: "Guanabara" %></h1>

  <p>O seu mercado feliz</p>
</section>

<section class="row">

  <article class="column">
    <h2>Atalhos</h2>
    <ul>
      <li>
        <a href="produto">Produto</a>
      </li>

    </ul>
  </article>
</section>
